 /* body {
  max-width: 1500px; 
  margin: 0 auto;
  padding: 2rem; 
  text-align: center; 
  display:flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  min-width: 320px;
  min-height: 89vh;
  background-image: url(  "https://www.xtrafondos.com/wallpapers/resized/rick-y-morty-paisaje-6534.jpg?s=large");
  background-size:contain;
  background-attachment: fixed;
  background-repeat: no-repeat;

 

}  */
/*Fondo azul home https://www.xtrafondos.com/wallpapers/resized/rick-y-morty-paisaje-6534.jpg?s=large*/

/*Fondo error https://rare-gallery.com/thumbnail/391712-rick-and-morty-4k-pc-wallpaper.jpg */

/*Paleta de colores

.color1 {color: #0f396b;}
.color2 {color: #49498e;}
.color3 {color: #9662c1;}
.color4 {color: #fc89f3;}
.color5 {color: #ffb6f4;}
*/
