/* Estilos para los cards de personajes */



/* .card {
    background-color: rgba(114, 92, 114, 0.8);
    border: 1px solid #ddd;
    border-radius: 10%;
    padding: 50px;
    margin:50px;
    align-items: center;
    text-align:right;
    line-height: normal;
    /* font-family: "Calibri", sans-serif; */
    /* display:block;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
  /*} */


  .card {
    width: 325px; 
    height: 700px;  
    background-color: rgba(114, 92, 114, 0.8);
    border: 1px solid #ddd;
    border-radius: 10%;
    padding: 20px; /* Ajusta el espacio de relleno según tu contenido */
    margin: 50px;
    align-items: center;
    text-align: left;
    line-height: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    display: block;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px,
      rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px,
      rgba(240, 46, 170, 0.05) 25px 25px;
  }
  



  /* .cardsContainer {
    padding: inherit;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: space-between; 
    display: inline-block;
    margin-right: 10px;
  }  */
  