/* Estilos para los cards de personajes */
/* .card {
    background-color: rgba(114, 92, 114, 0.8);
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: "Calibri", sans-serif;
  }
 */

  