/* Estilos para los cards de personajes */
.card {
    background-color: rgba(114, 92, 114, 0.8);
    border: 1px solid #ddd;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: "Calibri", sans-serif;
    display:block
  }
 

  .descripcion {
    font-family: Arial, sans-serif; /* Cambia el tipo de letra */
    text-align:center; /* Justifica el texto */
    color: rgb(214, 142, 189); /* Cambia el color del texto a azul */
  }

  .cardsContainer {
    display: flex; /* Muestra las tarjetas en una fila */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente fila si no caben en el ancho del contenedor */
    gap: 20px; /* Espacio horizontal entre las tarjetas (ajusta según tus necesidades) */
  }
  