.FavoritesContainer {

    display: flex;
    flex-wrap: wrap; /* Permite que las Cards se envuelvan automáticamente cuando no caben en el ancho del contenedor */
    justify-content: flex-start; /* Alinea las Cards a la izquierda */
    gap: 10px; /* Espacio entre las Cards (ajusta según sea necesario) */
          position: static; /* Fija el contenedor en la ventana del navegador */
          top: auto;
          left: 0; /* Coloca el contenedor en la parte izquierda del viewport */
          width: 100%; /* Establece el ancho al 100% del viewport */
          height: 100%; /* Establece la altura al 100% del viewport */
          background-image: url("https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1826&q=80"); 
          background-repeat: no-repeat;
          background-attachment: fixed;
        }

        /* Fondo que quiero https://rare-gallery.com/thumbs/340156-Rick-and-Morty-Cartoon-Morty-Smith-Rick-Sanchez-Night-Sky-Space-Stars.jpg */