.cards {
    position: fixed; /* Fija el contenedor en la ventana del navegador */
    top: 0; /* Coloca el contenedor en la parte superior del viewport */
    left: 0; /* Coloca el contenedor en la parte izquierda del viewport */
    width: 100%; /* Establece el ancho al 100% del viewport */
    height: 100%; /* Establece la altura al 100% del viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente (cambia según tus necesidades) */
    z-index: 1000; /* Z-index para asegurarse de que esté por encima de otros elementos */ 
}

.cardsContainer {

  display: flex;
  flex-wrap: wrap; /* Permite que las Cards se envuelvan automáticamente cuando no caben en el ancho del contenedor */
  justify-content: flex-start; /* Alinea las Cards a la izquierda */
  gap: 10px; /* Espacio entre las Cards (ajusta según sea necesario) */
        position: static; /* Fija el contenedor en la ventana del navegador */
        top: auto;
        left: 0; /* Coloca el contenedor en la parte izquierda del viewport */
        width: 100%; /* Establece el ancho al 100% del viewport */
        height: 100%; /* Establece la altura al 100% del viewport */
       
      }
.gif_nave{
  width: 30%; /* Ancho de la imagen como el 50% del ancho del contenedor */
  height: auto;
}
      



  