.cards {
    position: fixed; /* Fija el contenedor en la ventana del navegador */
    top: 0; /* Coloca el contenedor en la parte superior del viewport */
    left: 0; /* Coloca el contenedor en la parte izquierda del viewport */
    width: 100%; /* Establece el ancho al 100% del viewport */
    height: 100%; /* Establece la altura al 100% del viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente (cambia según tus necesidades) */
    z-index: 1000; /* Z-index para asegurarse de que esté por encima de otros elementos */ 
     
}

body {
  margin: 0; 
  padding: 0; 

}


.background {
  background-image: url("https://wallpaperaccess.com/full/831749.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 639px;
  z-index: -1;
  opacity: 0.9;
}

/* Estilos para el contenedor de las tarjetas (Cards) */
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  align-items: baseline;
  justify-content: center;
  margin: 0;
  padding: 0;
  /* Agrega otros estilos específicos para tus tarjetas aquí */
}


.gif_nave{
  width: 5%; 
  height: auto;
} 
      



  