


.imagen {
    max-width: 40%; /* Asegura que la imagen no sea más ancha que el contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    width: 350px; /* Ancho fijo para el contenedor */
    height: 250px; /* Altura fija para el contenedor */
    
  }

.imagenContainer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
    border-radius: 100%; /* Hace que el contenedor de la imagen sea redondo */
    overflow: hidden; /* Oculta cualquier parte de la imagen que esté fuera del contenedor */
    justify-content: center; /* Centra la imagen horizontalmente dentro del contenedor */
    align-items: center; /* Centra la imagen verticalmente dentro del contenedor */
  }

.descripcion {
  font-family: Arial, sans-serif; /* Cambia el tipo de letra */
  text-align: justify; /* Justifica el texto */
  color: rgb(119, 15, 121); /* Cambia el color del texto a azul */
}

.descripcionContainer {
  
  margin-left: 20px; /* Espacio entre la imagen y el texto */
  background-color: #d37ea7b2; /* Fondo transparente */
  padding: 10px; /* Espacio dentro del contenedor de texto */
}


/*Fondo amarillo rick feliz https://www.xtrafondos.com/wallpapers/resized/rick-en-otro-planeta-6354.jpg?s=large*/


