 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
} 

.read-the-docs {
  color: #625b5b;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("https://rare-gallery.com/thumbs/345116-Rick-and-Morty-Cartoon-TV-Series-Rick-Sanchez-Morty-Smith-Spaceship.jpg");
   background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
  background-attachment: fixed; /* Fondo fijo */
  background-repeat: no-repeat;
}

/* Estilos para el componente Nav 
.nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}*/



/* Estilos para el formulario de inicio de sesión 
.login-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #c91d1d;
  background-color: #af1e1e;
  
}*/